*{
    box-sizing: border-box;
    margin:0;
    padding:10px;
}

body{
    background-color: black;
    color: white;
    padding:100px
}

.moviesection{
    width:90%;
    margin: 50px auto;
}

.searchmovie{
    padding: 10px 5px;
    border:solid red;
    border-radius: 10px;
    font-size: 20px;
    background-color: solid grey;
    margin-left:5px;
    width:90%
}

#searchHere{
    padding:10px 10px;
    width:500px;
    border:solid burlywood;
    border-radius: 10px;
    font-size: 20px;
}



.Showmoviesdetails{
    padding:20px;
    display: flex;
    flex:wrap;
    justify-content: space-between;
    gap: 20px;
}

header{
    background: red;
    color:white;
    padding: 15px 20px;
    position:sticky;
    top: 0;
}

nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.moviecard{
    width: 200px;
    height:350px;
    display:flex;
    flex-direction: row;
    align-items:center;
    border-radius: 15px;
    overflow:hidden;
}

.movieimg{
    width:200px;
    height: 350px;
    border-radius:10px;
    flex-direction:row;
    gap:30%;
}

.movieimg img{
    width:200px;
    height:350px;
    gap:50;
    object-fit: cover;
    border-radius: 10px;
}